<div class="mb-10">
  <p class="font-medium mb-2">Kbd</p>
  {% #Kbd %}Y{% /Kbd %}
</div>

<div class="mb-10">
  <p class="font-medium mb-2">Kbd Sizes</p>
  {% #Kbd size="lg" %}Ctrl{% /Kbd %}
  {% #Kbd size="md" %}Ctrl{% /Kbd %}
  {% #Kbd size="sm" %}Ctrl{% /Kbd %}
  {% #Kbd size="xs" %}Ctrl{% /Kbd %}
</div>

<div class="mb-10">
  <p class="font-medium mb-2">In text</p>
  Press {% #Kbd size="sm"%}F{% /Kbd %} to pay respects.
</div>

<div class="mb-10">
  <p class="font-medium mb-2">Key Combination</p>
  {% #Kbd %}Ctrl{% /Kbd %} +
  {% #Kbd %}Shift{% /Kbd %} +
  {% #Kbd %}Del{% /Kbd %}
</div>

<div class="mb-10">
  <p class="font-medium mb-2">Function Keys</p>
  {% #Kbd %}⌘{% /Kbd %}
  {% #Kbd %}⌥{% /Kbd %}
  {% #Kbd %}⇧{% /Kbd %}
  {% #Kbd %}⌃{% /Kbd %}
</div>