{% extends "base.html" %}

{% block content %}
  <div class="flex gap-4 items-center">
    {% #Avatar size="xs" %}
      {% AvatarImage src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" %}
    {% /Avatar %}
    {% #Avatar size="sm" %}
      {% AvatarImage src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" %}
    {% /Avatar %}
    {% #Avatar %}
      {% AvatarImage src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" %}
    {% /Avatar %}
    {% #Avatar size="lg" %}
      {% AvatarImage src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" %}
    {% /Avatar %}
  </div>
{% endblock %}