{% extends "base.html" %}

{% block content %}
  {% #AvatarGroup %}
    {% #Avatar size="sm" %}
      {% AvatarImage src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" %}
    {% /Avatar %}
    {% #Avatar size="sm" %}
        {% AvatarImage src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" %}
      {% /Avatar %}
    {% #Avatar size="sm" %}
        {% AvatarImage src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" %}
      {% /Avatar %}
    {% #Avatar size="sm" %}
        {% AvatarImage src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" %}
      {% /Avatar %}
  {% /AvatarGroup %}
{% endblock %}