{% extends "base.html" %}

{% block content %}
  <div class="flex flex-col gap-2">
    <div>
      {% #Button shape="square" variant="primary" %}{% Icon name="i-[heroicons--adjustments-horizontal]" %}{% /Button %}
      {% #Button shape="square" variant="primary" %}{% Icon name="i-[heroicons--face-smile]" %}{% /Button %}
      {% #Button shape="square" %}{% Icon name="i-[heroicons--archive-box-solid]" %}{% /Button %}
      {% #Button shape="square" %}{% Icon name="i-[heroicons--chat-bubble-bottom-center-solid]" %}{% /Button %}
      {% #Button shape="square" variant="ghost" %}{% Icon name="i-[heroicons--eye]" %}{% /Button %}
      {% #Button shape="square" variant="ghost" %}{% Icon name="i-[heroicons--bell-alert]" %}{% /Button %}
    </div>
    <div>
      {% #Button shape="circle" variant="primary" %}{% Icon name="i-[heroicons--adjustments-horizontal]" %}{% /Button %}
      {% #Button shape="circle" variant="primary" %}{% Icon name="i-[heroicons--face-smile]" %}{% /Button %}
      {% #Button shape="circle" %}{% Icon name="i-[heroicons--archive-box-solid]" %}{% /Button %}
      {% #Button shape="circle" %}{% Icon name="i-[heroicons--chat-bubble-bottom-center-solid]" %}{% /Button %}
      {% #Button shape="circle" variant="ghost" %}{% Icon name="i-[heroicons--eye]" %}{% /Button %}
      {% #Button shape="circle" variant="ghost" %}{% Icon name="i-[heroicons--bell-alert]" %}{% /Button %}
    </div>
  </div>
{% endblock %}