{% extends "base.html" %}

{% block content %}
    {% #Button variant="primary" %}{% Icon name="i-[heroicons--adjustments-horizontal]" %}{% /Button %}
    {% #Button variant="primary" %}{% Icon name="i-[heroicons--face-smile]" %}{% /Button %}
    {% #Button %}{% Icon name="i-[heroicons--archive-box-solid]" %}{% /Button %}
    {% #Button %}{% Icon name="i-[heroicons--chat-bubble-bottom-center-solid]" %}{% /Button %}
    {% #Button variant="ghost" %}{% Icon name="i-[heroicons--eye]" %}{% /Button %}
    {% #Button variant="ghost" %}{% Icon name="i-[heroicons--bell-alert]" %}{% /Button %}
{% endblock %}